.popup
{
    box-sizing: initial;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.popup__emoji
{
    cursor: pointer;
    padding: .25em;
}

.popup__emoji:hover
{
    background-color: #dfdfdf;
    border-radius: .2em;
}