.qr,
.inputbox
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.inputbox
{
    display: flex !important;
    margin-bottom: 0;
}
