.layout__qrcode,
.layout__inputbox
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.layout.layout__inputbox
{
    display: flex;
    margin-bottom: 0;
}
