{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props" : "off",
    "no-plusplus": "off",
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "jsx-a11y/anchor-is-valid":[0],
    "react/no-find-dom-node": [0],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  }
}
