.layout
{
    display: grid;
    grid-template-areas:
            'chats messages-menu'
            'chats messages'
            'chats input';

    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 550px;
    position: fixed;
    padding: 2rem 1rem;
    overflow: hidden;
    grid-gap: 1rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    min-width: 850px;
}

.layout .layout__chats
{
    grid-area: chats;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: stretch;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.layout__chats::-webkit-scrollbar
{
    width: 0;
}

.layout .layout__messages
{
    grid-area: messages;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout .layout__messages_menu
{
    grid-area: messages-menu;
}

.layout__input
{
    grid-area: input;
}