.messages {
    display: flex;
    flex-direction: column-reverse;
}

.comment:last-child {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.comment:first-child {
    padding-top: .5em !important;
    margin-top: .5em !important;
}
