.layout
{
    display: grid;
    grid-template-areas: 'input button';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.layout__button
{
    grid-area: button;
}

.layout__input
{
    grid-area: input;
}

.layout__emojiselector
{
    pointer-events: auto !important;
    width: 2.2em !important;
    cursor: pointer !important;
    opacity: 0.5 !important;
}

.layout__emojiselector:hover
{
    opacity: 1 !important;
}
